body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

header nav a:hover {
    color: yellow;
}

main {
    padding: 20px;
    text-align: center;
}

main table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}

main table, th, td {
    border: 1px solid #333;
    padding: 10px;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
